body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.header, .header-nav, .header-list {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.header-list {
    justify-content: space-around;
}

.header-title {
    font-size: 24px;
    font-weight: 700;
}

.header-list-name a {
    font-weight: 400;
    color: #737373;
}





/* VIDEO */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-small-info {
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
}

.video-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.video-paragraph, .video-sales {
    font-size: 14px;
    color: #737373;
}

.video-paragraph {
    font-weight: 400;
}

.video-sales {
    font-weight: 700;
}

.video-price {
    color: #bdbdbd;
}

.video-price span {
    color: #FFAB71;
}

.video-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.video-btn {
    border: 1px solid #96BB7C;
    background-color: white;
    color: #96BB7C;
    border-radius: 37px;
    height: 44px;
    width: 144px;
    font-weight: 700;
    font-size: 14px;
}