body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

section {
    height: 100vh;

}

.video, .testimonials-section, .newsletter {
    margin-top: 10%;
}

.header, .header-nav, .header-list {
    display: flex;
    align-items: baseline;
    width: 97.3%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

.header-left {
    margin: 0;
    padding: 0;
    width: 60%;
    margin-right: 26%;
}

.header-title {
    margin-left: 4.5%;
    width: 40%;
}

.header-title h1 {
    font-size: 24px;
    font-weight: 700;
}

.header-log {
    width: 40%;
}

.header-list {
    justify-content: space-around;
}


.header-list-name a {
    font-weight: 400;
    color: #737373;
}

.btn-green {
    background-color: #96BB7C;
    width: 137px;
    height: 52px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5%;
}

/* online-training-section */


.introduction-container {
    display: flex;
    background-color: #EFF8ED;
    z-index: -11;
    position: relative;
}

.introduction-content {
    z-index: -10;
    display: flex;
    flex-direction: column;
    width: 73%;
    height: 75vh;
    padding-top: 3%;
}

.introduction-content li {
    margin-top: -2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.introduction-content h2 {
    font-size: 54px;
    font-weight: 700;
    width: 80%;
}

.introduction-content p {
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    width: 70%;
}

.introduction-img {
    width: 620px;
    height: 730px;
    object-fit: cover;
    position: absolute;
    z-index: -10;
    right: 6%;
    top: 10%;
}

.introduction-btn {
    background-color: #96BB7C;
    width: 195px;
    height: 52px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5%;
}

.bg-none {
    background: none;
    border: #96BB7C 1px solid;
    color: #96BB7C;
}

.introduction-item {
    display: flex;
    flex-direction: row;
    width: 77%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
}

.introduction-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 0;
    width: 328px;
    height: 296px;
}

.introduction-item ul li {
    margin-top: 4%;
    width: 80%;
}

.introduction-item ul li h3 {
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.introduction-item ul li p {
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border-bottom-to-title {
    content: ' ';
    position: absolute;
    border-bottom: 2px solid #E74040;
    width: 4%;
}


/* VIDEO */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-info {
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
}

.video-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.video-paragraph, .video-sales {
    font-size: 14px;
    color: #737373;
}

.video-paragraph {
    font-weight: 400;
}

.video-sales {
    font-weight: 700;
}

.video-price {
    color: #bdbdbd;
}

.video-price span {
    color: #FFAB71;
}

.video-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.video-btn {
    border: 1px solid #96BB7C;
    background-color: white;
    color: #96BB7C;
    border-radius: 37px;
    height: 44px;
    width: 144px;
    font-weight: 700;
    font-size: 14px;
}

.video-btn a{
    color: #96BB7C;
}


/* testimonials */

.user-testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-testimonials-container ul {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.testmonials-content li p, .video-content li p {

    font-weight: 400;
    color: #737373;
}

.user-testimonials-container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.user-testimonials-container ul p {
    width: 70%;
    font-weight: 400;
    color: #737373;
}

.user-testimonials-container ul li img {
    border-radius: 50%;
    object-fit: cover;
}


.section-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 85.5%;
}

.section-content li {
    width: 40%;
}



/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin-bottom: 5%;
}

.footer-container ul li span {
    font-weight: 700;
}

.footer-container ul {
    display: grid;
    gap: 20%;
}

.footer-container ul li small {
    color: #737373;
    font-weight: 400;
}


.newsletter {
    margin-top: -5%;
}

.newsletter, .newsletter ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF2F3;
}

.newsletter-paragraphe {
    color: #737373;
    width: 80%;
    font-weight: 400;
}

.input {
    display: flex;
    align-items: baseline;
}

.input-newsletter {
    width: 600px;
    height: 46px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d2d2d2;
}

.btn-brd {
    border-radius: 0%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}